<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/header %>
    <title>Nuevo Libro</title>
</head>

<body>
    <% include partials/navigation%>
    <div class="container p-4">
        <form method="POST" action="/new-entry" class="card card-body">
    
          <div class="form-group">
            <label for="title">Titulo</label>
            <input name="title" type="text" class="form-control" placeholder="Entra un nuevo titulo" autofocus required>
          </div>
    
          <div class="form-group">
            <label for="title">Autor</label>
            <input name="author" type="text" class="form-control" placeholder="autor" autofocus required>
          </div>
          
          <div class="form-group">
            <label for="image">Imagen</label>
            <input type="url" name="image" class="form-control" placeholder="http://website.com" required>
          </div>
    
          <div class="form-group">
            <label for="description">Descripcion</label>
            <textarea class="form-control" name="description" rows="2" required>
            </textarea>
          </div>
    
          <div class="form-group">
            <input type="submit" value="Guardar Libro" class="btn btn-primary btn-block">
          </div>
        </form>
    
      </div>
</body>

</html>